.well button { 
    width: 200px;
}

#post button {
    width:auto;
}

.singlelookup input#phone,
.singlelookup input#email,
.singlelookup input#twitter,
.singlelookup input#facebook {
    display: none;
    width: 245px;
}

#result {
    float:right;
    width: 800px;
}

.ajax-loader {
    margin: 100px 360px;
}
