.well button { 
    width: 200px;
}

#post button {
    width:auto;
}

#post .btn-success,
#post .btn-primary {
    width: 300px;
}

.singlelookup input#phone,
.singlelookup input#email,
.singlelookup input#twitter,
.singlelookup input#facebook {
    display: none;
    width: 287px;
}

.singlelookup input#file {
    margin-bottom: 10px;
}

#result {
    float:right;
    width: 800px;
}

.ajax-loader {
    margin: 100px 360px;
}
